
body {
    width: 100%;
}

.container-fluid.main {
    padding-bottom: 30px;
}
a {
    color: #16A085;
}
h1.special {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: Oswald;
    font-size: 30px;
    font-weight: lighter;
    line-height: 35px;
    margin-top: 40px;
    padding: 20px 0;
    text-transform: uppercase;
}


.normaltypo {
    display: block;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    margin: 0 auto;
    max-width: 80%;
    padding: 15px 0;
    text-transform: lowercase;
}

.sidebarWrapper {
    height: 100%;
    background: #ddd;
    width: 195px !important;
    position: relative;
    padding: 0;

}


.page-header {
    border-left: 4px solid #16a085;
    font-size: 18px;
    font-weight: bold;
    padding-left: 18px;
}

.container-fluid {
    overflow-x: hidden;
}

.placeholders {
    padding-left: 15px;
}

.page-header {
    margin-left: 0;
}

.sidebarx {
    position: fixed;
    left: 0 top : 0;
    height: 100%;
    background: #ddd;
    min-width: 152px;
    width: 195px !important;

}

.sidebar {
    background-color: #F5F5F5;
    border-right: 1px solid #EEEEEE;
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.colorCodeTable td {
    padding: 10px;
}

.colorCodeTable a {
    height: 50px;
    width: 200px;
    display: block;
    border-width: 25px !important;
}

.nav-sidebar {
    padding-top: 20px;
}

.bs-docs-section {
    margin-bottom: 60px;
}

.table td {
    padding: 10px 0;
    border-bottom: solid 1px #ddd;
}

.bs-example {
    background-color: #FFFFFF;
    border-radius: 4px 4px;
    border: solid 1px #ddd;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    padding: 20px;
    margin-bottom: 20px;
}

.nav-sidebar li.active a, .nav-sidebar li:hover a {
    color: #fff;
}

.highlight {
    margin-top: 15px;
}

ul.list {
    list-style: disc;
    padding-left: 40px;
}

ul.list ul {
    list-style: circle;
    padding-left: 40px;
}

ul.list-check {
    list-style: none;
}

ul.list-border li {
    border-bottom: 1px solid #E0EDED;
    display: block;
    padding: 10px 15px;
}

ul.list-border li:hover {
    background: #ebebeb;
}

